{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Page Title -->
<div class="page-title" style="background-image: url({% static 'images/section/page-title.jpg' %});">
    <div class="container-full">
        <div class="row">
            <div class="col-12">
                <h3 class="heading text-center">Set a New Password</h3>
                <ul class="breadcrumbs d-flex align-items-center justify-content-center">
                    <li><a class="link" href="{% url 'home' %}">Homepage</a></li>
                    <li><i class="icon-arrRight"></i></li>
                    <li><a class="link" href="#">Pages</a></li>
                    <li><i class="icon-arrRight"></i></li>
                    <li>Set a New Password</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /Page Title -->

<!-- New Password Form -->
<section class="flat-spacing">
    <div class="container">
        <div class="login-wrap">
            <div class="left">
                <div class="heading">
                    <h4 class="mb_8">Enter Your New Password</h4>
                    <p>Choose a strong password for security.</p>
                </div>
                <form method="post" class="form-login">
                    {% csrf_token %}
                    <div class="wrap">
                        <fieldset>
                            <label>New Password</label>
                            <input type="password" name="new_password1" required>
                        </fieldset>
                        <fieldset>
                            <label>Confirm New Password</label>
                            <input type="password" name="new_password2" required>
                        </fieldset>
                    </div>
                    <div class="button-submit">
                        <button class="tf-btn btn-fill" type="submit">
                            <span class="text text-button">Change Password</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="right">
                <h4 class="mb_8">Need Help?</h4>
                <p class="text-secondary">If you have any issues resetting your password, contact support.</p>
                <a href="#" class="tf-btn btn-fill"><span class="text text-button">Contact Support</span></a>
            </div>
        </div>
    </div>
</section>
<!-- /New Password Form -->

{% endblock %}
