{%extends "base.html"%}
{%load static%}
     
{%block content%}
<article class="blog-item">
    <div class="container">
    <header class="entry-header">
        <h3 class="entry-title post-title"><a rel="bookmark" href="#">Know Why Your Silver Jewellery is Turning black? </a></h3>
    </header>
    <div class="blog-content">
        <p class="MsoNoSpacing">Buying Silver
    jewellery online has been a popular entity for many years. The reason can be
    its acceptable pricing compared to other metals like gold and platinum, also
    numerous distinctive and attractive styles readily available on the market.<o:p></o:p></p>
    
    <p class="MsoNoSpacing">Since every coin
    has two sides, likewise despite being so popular among both the masculine and
    feminine, it has drawbacks like turning black or green on the skin.&nbsp;&nbsp;<o:p></o:p></p>
    
    <p class="MsoNoSpacing"><o:p>&nbsp;</o:p></p>
    
    <p class="MsoNoSpacing"><b><span style="font-size: x-large;">Why does
    Silver turn Black or Green?</span></b></p><p class="MsoNoSpacing">Because of
    hydrogen sulphide (sulphur), a chemical found in the air; Silver turns black.
    When Silver comes into touch with it, a chemical reaction occurs, resulting in
    the formation of a black coating. Silver oxidizes more quickly in areas with a
    lot of light and humidity.</p><p class="MsoNoSpacing"><o:p></o:p></p>
    
    <p class="MsoNoSpacing">Sterling Silver
    is an alloy made when pure Silver is mixed with copper to create a durable,
    less soft metal. The purity of sterling silver is 92.5 percent, which means
    that copper and other metals make up 7.5 percent of the alloy.<o:p></o:p></p>
    
    <p class="MsoNoSpacing">When copper got
    exposed to the air, it oxidizes, especially when there is much moisture in the
    air. The Copper metal reacts with oxygen, forming a coating of Copper Oxide on
    the outside. Silver tarnishes and has a tarnished appearance as a result of
    this process.<o:p></o:p></p>
    
    <p class="MsoNoSpacing"><o:p>&nbsp;</o:p></p>
    
    <p class="MsoNoSpacing"><b><span style="font-size: x-large;">Let's discuss
    several factors that contribute to this unfortunate experience.</span><o:p></o:p></b></p>
    
    <p class="MsoNoSpacing"><o:p>&nbsp;</o:p><b>1.<span style="font-size: large;"> Cosmetics</span>-&nbsp;</b>Cosmetics often contain more complex
    compounds than the jewellery itself. These compounds can scrape off tiny<b>&nbsp;</b>pieces
    of metal&nbsp;that look like pitch-black&nbsp;dust. Not only cosmetics but-<span style="text-indent: -18pt; font-family: Symbol;"><span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp; &nbsp;</span></span><span style="text-indent: -18pt;">hairsprays,</span></p><p class="MsoNoSpacing"></p><ul><li><span style="text-indent: -18pt;">perfumes,</span></li><li><span style="text-indent: -18pt;">deodorants</span><b style="text-indent: -18pt;">,</b></li><li><span style="text-indent: -18pt;">body&nbsp;lotion,</span></li><li><span style="text-indent: -18pt;">bleaches, etc.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></li></ul><div style="text-indent: -24px;"><br></div>This speed up the&nbsp;oxidation process.
    Sunscreens, in particular, contain zinc oxide and other small
    chemical&nbsp;particles. This involvement&nbsp;in&nbsp;sterling silver causes
    discoloration<b style="text-indent: -24px;">.</b><br><p class="MsoNoSpacing"><o:p></o:p></p>
    
    <p class="MsoNoSpacing"><o:p>&nbsp;</o:p><b>2. <span style="font-size: large;">&nbsp;Humidity</span>-</b> Summers&nbsp;can be a nightmare for&nbsp;silver
    lovers<b>.&nbsp;</b>Long sunny days and humid nights usually&nbsp;lead to an
    increase&nbsp;in&nbsp;the water content of&nbsp;our skin, as there will be an
    increase in the frequency of&nbsp;showers. In other words, the&nbsp;more&nbsp;silver
    touches&nbsp;the water&nbsp;and&nbsp;its&nbsp;shape, the more likely&nbsp;it&nbsp;is&nbsp;to&nbsp;turn
    black<b>.</b></p>
    
    <p class="MsoNoSpacing"><b>3.<span style="font-size: large;">&nbsp;Natural
    oils</span></b>- How strongly Silver&nbsp;reacts
    with these substances&nbsp;in the&nbsp;skin&nbsp;depends mainly&nbsp;on the.</p><p class="MsoNoSpacing"></p><ul><li><span style="text-indent: -18pt;">type of
    food you eat,&nbsp;</span></li><li><span style="text-indent: -18pt;">the
    amount of&nbsp;alcohol&nbsp;you consume</span><b style="text-indent: -18pt;">,</b><span style="text-indent: -18pt;">&nbsp;</span></li><li><span style="text-indent: -18pt;">And&nbsp;the
    use of the drug</span><b style="text-indent: -18pt;">.</b></li></ul><p></p>
    
    <p class="MsoNoSpacing">These&nbsp;affect
    the acidity of the skin and&nbsp;can cause a reaction. Diets high in
    sulphur-rich foods such as eggs, garlic, and seafood can produce sweat with
    high sulphur compounds and react with sterling silver copper to accelerate
    tarnishing.&nbsp;</p>
    
    <p class="MsoNoSpacing">Hence, these are
    the reasons that can cause discoloration, but this doesn't mean you should
    hesitate to buy silver jewellery. There are Several tips can handle the
    situation. So, buy silver jewellery online and enjoy luxury. <a href="https://tajmahalsilver.com/blog-details.php?id=MjM=" target="_blank">Read More</a></p><p class="MsoNoSpacing"><br></p></div><!-- End blog Content -->
    </div>
    </article>


{%endblock%}