{%extends "base.html"%}
{%load static%}
     
{%block content%}
<article class="blog-item">
    <div class="container">
    <header class="entry-header">
        <h3 class="entry-title post-title"><a rel="bookmark" href="#">How to take care of silver Jewellery? </a></h3>
    </header>
    <div class="blog-content">
        <p class="MsoNormal" style="margin-bottom:0cm;line-height:150%"><span style="line-height: 150%; color: rgb(14, 16, 26); font-family: arial, helvetica, sans-serif; font-size: large;">Do you love to wear sterling silver elegant Jewellers? and don't know
    how to take care of them and clean it. If yes, you are in the right place. Just
    follow these quick tips and let your stunning silver jewellery shine every day.</span></p><p class="MsoNormal" style="margin-bottom:0cm;line-height:150%"><span style="line-height: 150%; color: rgb(14, 16, 26); font-family: arial, helvetica, sans-serif; font-size: large;"><br></span></p>
    
    <p class="MsoNormal" style="margin-bottom:0cm;line-height:150%"></p><ul><li><span style="font-family: arial, helvetica, sans-serif;"><span style="font-weight: bold; font-size: large; line-height: 150%; color: rgb(14, 16, 26);">&nbsp;</span><span style="color: rgb(14, 16, 26);"><span style="line-height: 150%; font-size: large; font-weight: bold;">Keep it always Clean</span></span><span style="font-size: large; color: rgb(14, 16, 26); line-height: 150%;">-
         Please get in the habit of cleaning your jewellery when you take it off at
         the end of a long day. Always use soft cotton or woollen cloth, and gently
         rub the silver chain with it regularly to keep the silver chain shiny<span style="font-weight: 700;">.</span></span></span></li></ul><div><span style="color: rgb(14, 16, 26); font-family: arial, helvetica, sans-serif; font-size: large; font-weight: 700;"><br></span></div><ul><li><span style="font-family: arial, helvetica, sans-serif; font-size: large;"><span style="line-height: 150%; color: rgb(14, 16, 26);">&nbsp;</span><span style="color: rgb(14, 16, 26);"><span style="line-height: 150%; font-weight: bold;">Store them properly</span></span><span style="color: rgb(14, 16, 26); line-height: 150%;">-<b>&nbsp;</b>Store
         silver jewellery in an airtight container or box in a dark room. Do not
         store them in damp places like the kitchen and bathroom. The harder you
         work to protect your chain from dust and ambient temperature, the longer
         it will look like new<b>.</b></span></span></li></ul><div><span style="color: rgb(14, 16, 26); font-family: arial, helvetica, sans-serif; font-size: large; font-weight: 700;"><br></span></div><ul><li><span style="font-size: large;"><span style="text-align: center; color: rgb(14, 16, 26);"><span style="line-height: 150%;"><span style="font-family: arial, helvetica, sans-serif; font-weight: bold;">Avoid Moisture</span><span style="font-weight: bold; font-family: arial, helvetica, sans-serif;">-</span><span style="font-weight: bold; font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></span><span style="font-family: arial, helvetica, sans-serif; text-align: center; color: rgb(14, 16, 26); line-height: 150%;">Keep
         skin dry when wearing jewellery. If you keep silver jewellery near damp
         areas of your body, try dabbing a little powder on it to keep it dry<b>.</b>&nbsp;Remove
         silver jewellery when swimming, clean (detergent is very bad), wash hands,
         or touch seawater.</span></span></li></ul><div style="text-align: center;"><span style="color: rgb(14, 16, 26); font-family: arial, helvetica, sans-serif; font-size: large;"><br></span></div><ul><li><span style="font-family: arial, helvetica, sans-serif; font-size: large;"><b style="color: rgb(14, 16, 26);"><span style="line-height: 150%;">Talcum A Saviour</span></b><span style="color: rgb(14, 16, 26); line-height: 150%;">-
         Polishing your silver jewellery with talcum powder and wrapping them in
         cloth if you don't have a carrying case or Ziplock bag will also help keep
         your silver from tarnishing.</span></span></li></ul><div><span style="color: rgb(14, 16, 26); font-family: arial, helvetica, sans-serif; font-size: large;"><br></span></div><ul><li><span style="font-family: arial, helvetica, sans-serif; font-size: large;"><b style="color: rgb(14, 16, 26);"><span style="line-height: 150%;">White vinegar and baking
         soda:&nbsp;</span></b><span style="color: rgb(14, 16, 26); line-height: 150%;">This cleaning method is ideal for removing
         heavy stains<b>.</b>&nbsp;Soak sterling silver in 1/2 cup of white vinegar
         and two tablespoons of baking powder. Prepare the fizz and foam. After
         that, Rinse the jewellery and tap it to dry</span></span></li></ul><div><span style="color: rgb(14, 16, 26); font-family: arial, helvetica, sans-serif; font-size: large;"><br></span></div><ul><li><span style="font-family: arial, helvetica, sans-serif; font-size: large;"><b style="color: rgb(14, 16, 26);"><span style="line-height: 150%;">Rhodium Silver-</span></b><span style="color: rgb(14, 16, 26); line-height: 150%;"> It
         is Better to<b>&nbsp;</b>purchase only rhodium plated silver<b>.</b>&nbsp;It
         will enhance the lustre and durability of silver also gives a smooth,
         shiny finish to the jewellery. However, the coating can wear out
         sometimes, and you'll have to get a new coat every few years, but it's
         worth it.</span></span></li></ul><div><span style="color: rgb(14, 16, 26); font-family: arial, helvetica, sans-serif; font-size: large;"><br></span></div><ul><li><span style="font-family: arial, helvetica, sans-serif; font-size: large;"><b style="color: rgb(14, 16, 26);"><span style="line-height: 150%;">Cornflour A miracle- </span></b><span style="color: rgb(14, 16, 26); line-height: 150%;">If
         you're short on time, then do just simple things: make a corn-starch paste
         and dab it on with a damp cloth. Please wait for the mixture to dry, then
         gently rub it with a clean cloth.&nbsp;</span></span></li></ul><p></p>
    
    <p class="MsoNormal" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
    margin-left:36.0pt;line-height:150%"><span style="line-height: 150%; color: rgb(14, 16, 26); font-family: arial, helvetica, sans-serif; font-size: large;">&nbsp;</span></p>
    
    <p class="MsoNormal" style="margin-bottom:0cm;line-height:150%"><span style="line-height: 150%; color: rgb(14, 16, 26); font-family: arial, helvetica, sans-serif;"><span style="font-size: large;">Proper care and maintenance are critical to keeping jewellery for a more
    extended period. We suggest you allow professionals to handle this or follow
    these above-mentioned uncomplicated tricks. These steps will let your silver
    earring, bracelet, Anklets, and rings, shine forever.</span><span style="font-size: medium;"><o:p></o:p></span></span></p>
    
    <p class="MsoNormal" style="line-height:150%"><span style="font-size: medium; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p></div><!-- End blog Content -->
    </div>
    </article>

{%endblock%}